<div id="footer" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-12 text-xs-center">

      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6 col-sm-6  hidden-md-down">
        <p class="titulo">
          <b>Important Links</b>
        </p>
        <p>
          <span>
            <a [routerLink]="['/oasp']">OASP</a>  
          </span> |
          <span> 
            <a [routerLink]="['/oasp4-j']">OASP4J</a>
          </span> |
          <span>
            <a [routerLink]="['/oasp4-js']">OASP4JS</a>
          </span> |
          <span>
            <a href="https://troom.capgemini.com/sites/vcc/devon/index.aspx" target="_blank">devonfw</a>
          </span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 col-md-12 col-sm-5 col-12 text-xs-center">
        <p>© Capgemini 2017 <span style="margin-left: 17mm"><a [routerLink]="['/TermsOfUse']">Terms of Use</a></span></p>
        <p class="destacado">This page is mantained by Capgemini Germany APPS Evolve and Capgemini Spain</p>
      </div>
      <!--iconos-->
      <div class="col-lg-4 col-md-12 col-sm-4 col-12 text-xs-center ">
        <img src="../../assets/images/slideshare.png" class="icon">
        <img src="../../assets/images/facebook.png" class="icon">
        <img src="../../assets/images/twitter.png" class="icon">
        <img src="../../assets/images/linkedin.png" class="icon">
        <img src="../../assets/images/youtube.png" class="icon">
      </div>
      <div class="col-lg-2 col-md-12 col-sm-2 col-12 text-xs-center">
        <a href="https://www.es.capgemini.com/"><img src="../../assets/images/logo_capgemini_white.png" class="cap"></a>
      </div>
    </div>
  </div>
</div>
