<div class="container-fluid collabWrapper">
  <div class="container">
    <div class="row collabRow">
      <div class="col-md-4 col-sm-4">
        <div class="collabElement gallery">
          <div class="collabElementHeader">
	          <h2>
	            Discussing
	          </h2>
	      </div>
	      <div class="collabElementBody">
	          <ul>
	            <li><p>Yammer group <a target="_blank" href="https://www.yammer.com/capgemini.com/#/threads/inGroup?type=in_group&feedId=5030942">devon</a></p></li>
	            <li><p>Yammer group <a target="_blank" href="https://www.yammer.com/capgemini.com/#/threads/inGroup?type=in_group&feedId=1169812">engineering</a></p></li>
	            <li><p>Yammer group <a target="_blank" href="https://www.yammer.com/capgemini.com/#/threads/inGroup?type=in_group&feedId=1336436">Java</a></p></li>
	            <li><p>Yammer group <a target="_blank" href="https://groups.google.com/forum/?nomobile=true#!forum/oasp">OASP</a></p></li>
	          </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="collabElement gallery">
          <div class="collabElementHeader">
	          <h2>
	            Contributing
	          </h2>
	      </div>
	      <div class="collabElementBody">
	          <ul>
	            <li><p><a target="_blank" href="https://github.com/devonfw/devon">devonfw</a> on GitHub</p></li>
	            <li><p><a target="_blank" href="https://github.com/oasp/oasp4j">OASP4J</a> on GitHub</p></li>
	            <li><p><a target="_blank" href="https://github.com/oasp/oasp4js">OASP4JS</a> on GitHub</p></li>
	            <li><p><a target="_blank" href="https://github.com/devonfw/devon4sencha">devon4sencha</a> on GitHub</p></li>
	          </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="collabElement gallery">
          <div class="collabElementHeader">
	          <h2>
	            Mail
	          </h2>
	      </div>
	      <div class="collabElementBody">
	          <ul>
	            <li><p><a href="icsddevonfwsupport.apps2@capgemini.com">devonfw Team</a></p></li>
	            <li><p><a href="thilo.hermann@capgemini.com">iCSD Lead</a></p></li>
	          </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row collabRow">
      <div class="col-md-4 col-sm-4 col-md-offset-2 col-sm-offset-2">
        <div class="collabElement gallery">
          <div class="collabElementHeader">
	          <h2>
	            Newsletter
	          </h2>
	      </div>
	      <div class="collabElementBody">
	          <ul>
	            <li><p>Newsletter: <a target="_blank" href="https://devonfw.github.io/we-dev-on/">we-dev-on</a></p></li>
	            <li><p>Announcements on <a target="_blank" href="https://www.yammer.com/capgemini.com/#/threads/inGroup?type=in_group&feedId=5030942">Yammer</a></p></li>
	          </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="collabElement gallery">
          <div class="collabElementHeader">
	          <h2>
	            Webcast
	          </h2>
	      </div>
	      <div class="collabElementBody">
	          <ul>
	            <li><p>Announcements on <a target="_blank" href="https://www.yammer.com/capgemini.com/#/threads/inGroup?type=in_group&feedId=5030942">Yammer</a></p></li>
	            <li><p>Collection on <a target="_blank" href="https://github.com/devonfw/devonfw-community/wiki/stuff-that-matters">GitHub</a></p></li>
	          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>