<div class="container-fluid techStacksWrapper">
	<div class="container">
		<ngb-tabset type="pills" class="tabset">
			<ngb-tab title="OASP4J">
				<ng-template ngbTabContent>
					<img src="../../assets/images/onepager_oasp4j.png">
				</ng-template>
			</ngb-tab>
			<ngb-tab title="OASP4JS">
				<ng-template ngbTabContent>
					<img src="../../assets/images/onepager_oasp4js.png">
				</ng-template>
			</ngb-tab>
			<ngb-tab title="OASP4NET">
				<ng-template ngbTabContent>
					<img src="../../assets/images/onepager_oasp4net.png">
				</ng-template>
			</ngb-tab>
			<ngb-tab title="OASP4X">
				<ng-template ngbTabContent>
					<img src="../../assets/images/onepager_oasp4x.png">
				</ng-template>
			</ngb-tab>
			<ngb-tab title="OASP4Mobile">
				<ng-template ngbTabContent>
					<img src="../../assets/images/onepager_oasp4mobile.png">
				</ng-template>
			</ngb-tab>
			<ngb-tab title="OASP4FN">
				<ng-template ngbTabContent>
					<img src="../../assets/images/onepager_oasp4fn.png">
				</ng-template>
			</ngb-tab>			
		</ngb-tabset>
	</div>
</div>