<div class="container-fluid tlsWrapper">
	<div class="container">
		<div class="row tlsRow">
			<div class="col-md-4 col-sm-4">
				<div class="tlsElement gallery">
					<div class="tlsElementHeader">
						<h2>Cobigen Extensions</h2>
					</div>
					<div class="tlsElementBody">
						<p>Extensions for our famous code generator CobiGen</p>
						<p><strong>Contact: Malte Brunnlieb</strong></p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="tlsElement gallery">
					<div class="tlsElementHeader">
						<h2>Accelerated Solution Design</h2>
					</div>
					<div class="tlsElementBody">
						<p>Acceleration using blueprints, best practices, guides with a special focus on methodology</p>
						<p><strong>Contact: Iwan van der Kleijn</strong></p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="tlsElement gallery">
					<div class="tlsElementHeader">
						<h2>E2E Testing</h2>
					</div>
					<div class="tlsElementBody">
						<p>Testing is one of our current focus topics</p>
						<p><strong>Contact: Lukasz Stefaniszyn</strong></p>
					</div>
				</div>
			</div>
		</div>
		<div class="row tlsRow">
			<div class="col-md-4 col-sm-4">
				<div class="tlsElement gallery">
					<div class="tlsElementHeader">
						<h2>devonfw Client Guide</h2>
					</div>
					<div class="tlsElementBody">
						<p>While we have a concrete layered technical architecture for the server in OASP, we are still lacking a pendant on the client. Therefore, one current focus topic is the definition / creation of a Client (Architecture) Guide.</p>
						<p><strong>Contact: Tim Lüecke</strong></p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="tlsElement gallery">
					<div class="tlsElementHeader">
						<h2>IDE</h2>
					</div>
					<div class="tlsElementBody">
						<p>Apart from Eclipse devonfw provides a fully featured IDE for modern web development with VS Code which has quite some room for further additions</p>
						<p><strong>Contact: Santos Jiménez Linares</strong></p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="tlsElement gallery">
					<div class="tlsElementHeader">
						<h2>.NET Code Generation</h2>
					</div>
					<div class="tlsElementBody">
						<p>Extension of our CobiGen code generator to also support .NET</p>
						<p><strong>Contact: Maurice Driessen</strong></p>
					</div>
				</div>
			</div>
		</div>
		<div class="row tlsRow">
			<div class="col-md-4 col-sm-4">
				<div class="tlsElement gallery">
					<div class="tlsElementHeader">
						<h2>Towards an Automated Environment Provisioning</h2>
					</div>
					<div class="tlsElementBody">
						<p>WAutomatically generate and provision (test) environments</p>
						<p><strong>Contact: Thorsten Peter</strong></p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="tlsElement gallery">
					<div class="tlsElementHeader">
						<h2>My Thai Star</h2>
					</div>
					<div class="tlsElementBody">
						<p>Everything concerning our new reference application: My Thai Star</p>
						<p><strong>Contact: Santos Jiménez Linares</strong></p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="tlsElement gallery">
					<div class="tlsElementHeader">
						<h2>Kickstarter for Progressive Web Applications (PWAs) based on Angular 4</h2>
					</div>
					<div class="tlsElementBody">
						<p>PWAs are "The Next Big Thing" for the mobile development. They can offer great UX comparable to native mobile apps, but being still a web application running in a browser</p>
						<p><strong>Contact: Marek Matczak</strong></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>